body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background-color: #1C1C1C !important;
    color: #ffffff !important;
    padding: 20px !important;
  }
  
  .contaner {
    display: flex;
align-items: center !important;
justify-content: center !important;
margin-bottom: 150px !important;
  }

img{
  max-width: 500px !important;
  min-width: 200px;
}
.container{
  display: flex;
  margin-top: 0 !important;
  align-items: center !important;
  flex-direction: column;
  justify-content: center !important;
 
}
.container>img{
 
  height: 300px !important;
 }
  button{
    margin-top: 20px !important;
    background-color: #009AE1 !important;
    padding: 10px 20px !important;
    border-radius: 20px !important;
    transition: background-color 0.3s ease !important;
  }
  a {
    text-decoration: none !important;
    color: #ffffff !important;
   }
   form{ 

    margin-top: 20px !important;
  }